.mydiv{
    text-align: center;
}
.navbar-menu-wrapper {
    background: skyblue;
}
.colorSBlue{
    color: #fff;
    background-color: #0eabea;
    border-color: #0eabea;
}


.form-control.form-control-lg.border-success.ng-pristine.ng-valid{
    border-color:  #0eabea !important;

}