<div class="jumbotron jumbotron-fluid" >
    <div class="container">
        <h1 class="display-4">Settings</h1>
    <div _ngcontent-lsq-c6="" class="form-group"><label _ngcontent-lsq-c6="">Username</label>
      <input [(ngModel)]='username' _ngcontent-lsq-c6="" aria-label="Username" class="form-control form-control-lg border-success" placeholder="Username" type="text">
    </div>
    <div _ngcontent-lsq-c6="" class="form-group"><label _ngcontent-lsq-c6="">Name</label>
      <input [(ngModel)]='name' _ngcontent-lsq-c6="" aria-label="Name" class="form-control form-control-lg border-success" placeholder="Name" type="text">
    </div>
    <div _ngcontent-lsq-c6="" class="form-group"><label _ngcontent-lsq-c6="">Password</label>
      <input [(ngModel)]='password' _ngcontent-lsq-c6="" aria-label="Password" class="form-control form-control-lg border-success" placeholder="Password" type="text">
    </div>
    <div class="mydiv">
        <button class="btn btn-success btn-fw " type="button" (click) ="SubmitChanges()" >Save changes</button>
    </div>
  </div>
  </div>